.partnership {
    @media (min-width: $desktop-width) {
      position: relative;
  
      padding-top: 95px;
      padding-bottom: 106px;
    }
}

.partnership__container {
    @media (min-width: $desktop-width) {
      background-color: #ffffff;
    }
  
    &--contrast {
      background-color: #ffffff;
    }
}

.partnership__info {
    padding-top: 26px;
    padding-bottom: 26px;
  
    display: grid;
    grid-template-columns: minmax(auto, 130px) minmax(auto, 140px);
    justify-content: space-between;
    gap: 10px;
  
    @media (min-width: desktop-width) {
      padding-top: 61px;
      padding-bottom: 61px;
      padding-left: 40px;
      padding-right: 40px;
  
      grid-template-columns: 163px 157px;
    }
  
    @media #{$on-desktop} {
      position: relative;
      z-index: 1;
  
      padding-top: 61px;
      padding-bottom: 61px;
      padding-left: 80px;
      padding-right: 80px;
      width: 565px;
  
      grid-template-columns: 1fr 1fr;
      gap: 80px;
  
      background-color: #ffffff;
    }
}