.product {
    @media (min-width: $tablet-width) {
      background: linear-gradient(to bottom, transparent 16%, $basic-grey 16%);
      padding: 8px 38px 39px;
    }
  
    @media (min-width: $tablet-width) {
      background: linear-gradient(to bottom, transparent 16%, $basic-grey 16%);
      padding: 8px 40px 43px;
    }
}

.product__wrapper {
    display: flex;
    margin-bottom: 13px;
    align-items: center;
  
    @media (min-width: $tablet-width) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
    }
}

.product__photo {
    position: relative;
    width: 140px;
    height: 112px;
    overflow: hidden;
  
    @media (min-width: $tablet-width) {
      width: 168px;
      height: 200px;
      margin-bottom: 32px;
    }
  
    @media (min-width: $desktop-width) {
      margin-bottom: 37px;
    }
}